# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Mac OS metadata
*.DS_Store

# Log files
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Optional: if you use `.env` files for secrets
.env
.env.local

# Ignore generated test outputs
/ui-tests/actual-result/
/ui-tests/diff-result/
